/*!
 * Theme: Default
 * Package: CopyGen
 * Version: 1.0.0
 * Author: Softnio
 * Author URI: http://themeforest.net/user/softnio
**/

/* Default Theme */

#__next {
  position: relative;
  overflow: hidden;
}
img {
  height: auto;
}
.index-module_type__E-SaG::after {
  background: linear-gradient(
    var(--bs-bg-gradient-angle, 319.2deg),
    RGBA(70, 162, 255, var(--bs-bg-opacity, 1)) 25.45%,
    RGBA(63, 62, 237, var(--bs-bg-opacity, 1)) 100.14%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}
.dropdown > span {
  cursor: pointer;
}
.dropdown-menu.show {
  transform: translate3d(-16px, 36px, 0px);
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
}
.is-dark .nk-menu-buttons .dropdown-menu {
  background: #151e36;
}
.is-dark .nk-menu-buttons .dropdown-item:hover {
  background-color: #f8f9fa0a;
}
.is-dark .is-dark .bg-white .form-control-plaintext,
.is-dark .is-dark .bg-white .form-control {
  color: #fff;
}
.is-light .is-dark .bg-white .form-control-plaintext,
.is-light .is-dark .bg-white .form-control {
  color: #293a51;
}
.custom-isotop {
  column-count: 3;
  column-gap: 30px;
  margin-bottom: -30px;
}
.custom-isotop > * {
  margin-bottom: 30px;
}

.is-dark .blog-post .text-bg-primary-soft {
  color: #fff;
}

@media (max-width: 1199px) {
  .custom-isotop {
    column-count: 2;
  }
}
@media (max-width: 991px) {
  .nk-header-menu {
    transition: 0.4s ease;
  }
}
@media (max-width: 767px) {
  .custom-isotop {
    column-count: 1;
  }
}
@media (max-width: 575px) {
  .section-head br {
    display: none;
  }
}

@media (min-width: 992px) {
  .header-menu-overlay {
    display: none;
  }
}

/* ========================================= 
  Write Your Custom Style Here 
============================================ */
.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 450px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  transition: 0.2s;
  &.is-active {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.fake-btn {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}

#preview-table {
  background-color: #fff;
}

.preview-table-area {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  border-radius: 3px;
  transition: 0.2s;
  &.is-active {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.preview-table-row {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  text-transform: uppercase;
}

.preview-table-col {
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 15px;
}

.preview-table-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}

.sticky-top {
  position: sticky;
  top: 0;
}

.loading {
  position: fixed;
  top: 00%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  height: 100%;
  width: 100%;
}

.contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100%;
}
